@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    /* C O L O R - P A L E T T E S */

    /* C O L O R S */
    --BGcolor: rgb(242, 242, 242);
    --FontColor: rgba(13, 13, 13, 1);
    --AccentColor: rgb(112, 0, 0);
    --HoverColor: rgba(247, 247, 247, 1);
    --BorderColor: rgba(204, 204, 204, 1);

    /* F O N T   S I Z E */

    --H1: 32px;
    --H2: 28px;
    --H3: 24px;
    --H4: 20px;
    --H5: 16px;
    --H6: 12px;
    --H7: 8px;

    --HeaderFS: var(--H4);
    --FooterFS: var(--H4);

    --padding: 8px;
    --margin: 12px;
    --mainBorder: 1.5px solid var(--BorderColor);
    --mainBorderDashed: 1.5px dashed black;
    --mainBorderRadius: 4px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Urbanist", sans-serif;
    cursor: default;
}

/* H E L P   C L A S S */

.nowrap {
    word-wrap: no;
}

.center {
    display: flex;
    justify-items: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.innerContainer {
    width: 100%;
    display: block;
}

.boxShadow {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s ease-in;
}

.boxShadow:hover {
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-out;
}

.monoFont {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    color: var(--AccentColor);
    cursor: text;
}

.leftAlign {
    text-align: start;
    width: 100%;
}

.padding10 {
    padding: 0 5%;
    margin: 0;
}

.padding20 {
    padding: 0 10%;
    display: flex;
    justify-items: center;
    margin: 0;
}

.padding30 {
    padding: 0 15%;
    display: flex;
    justify-items: center;
    margin: 0;
}

.padding40 {
    padding: 0 20%;
    display: flex;
    justify-items: center;
    margin: 0;
}

.padding50 {
    padding: 0 25%;
    display: flex;
    justify-items: center;
    margin: 0;
}

.H1 {
    font-size: var(--H1);
}

.H2 {
    font-size: var(--H2);
}

.H3 {
    font-size: var(--H3);
}

.H4 {
    font-size: var(--H4);
}

.H5 {
    font-size: var(--H5);
}

.H6 {
    font-size: var(--H6);
}

.H7 {
    font-size: var(--H7);
}

.flex {
    display: flex;
    align-items: flex-start;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.audioContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: var(--margin);
}

.audioContainer audio {
    width: 90%;
}

.mediaDescription {
    font-size: var(--H6);
    font-weight: 900;
}

.bodyText {
    line-height: 100%;
    margin: var(--margin);
    text-align: justify;
    cursor: text;
}

.arrow::before {
    content: "\2197\00A0";
    font-size: var(--H6);
    text-decoration: none;
}

a,
a:active,
a:focus {
    font-family: 'Roboto Mono', monospace;
    color: var(--FontColor);
    font-weight: 300;
    text-decoration: none;
    font-size: 14px;
}

a:focus,
a:hover {
    cursor: pointer;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: var(--H6);
    justify-content: center;
    font-weight: 600;
    margin: var(--margin) 0;
}

.linklist,
.youtubelinklist,
.internetlinklist {
    display: grid;
    grid-template-rows: auto;
    gap: 4px;
    width: calc(100% - var(--margin));
    margin-left: var(--margin);
}

.linklist {
    grid-template-columns: 3fr 6fr 11fr;
}

.youtubelinklist,
.internetlinklist {
    grid-template-columns: 14fr 3fr 3fr;
}

.linklist .Beschreibung {
    font-style: italic;
    text-align: justify;
    font-weight: 200;
}

.imageGrid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: var(--padding);
}

.source {
    width: 100%;
    text-align: right;
    font-style: italic;
    font-size: var(--H6);
    margin: var(--padding);
}


img {
    display: inline-block;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--BorderColor);
    border-radius: 4px;
    height: auto;
    padding: var(--padding);
    margin: 0 calc(0.5 * var(--margin));
    width: 100%;
}

button {
    background-color: var(--AccentColor);
    border: var(--mainBorder);
    border-radius: var(--mainBorderRadius);
    color: var(--BGcolor);
    padding: var(--padding);
}

button:hover {
    background-color: transparent;
    color: var(--AccentColor);
    cursor: pointer;
}

button.clicked {
    background-color: transparent;
    color: var(--AccentColor);
}

ol {
    font-size: var(--H2);
    counter-reset: list-item calc(attr(start, number) - 1);
    list-style-type: none;
}

ol li {
    font-size: var(--H5);
    position: relative;
    counter-increment: list-item;
    padding-left: calc(var(--padding) * 3);
}

/* Stil für die Zahlen */
ol li::before {
    content: counter(list-item) " ";
    font-weight: bold;
    position: absolute;
    left: 0;
    width: 20px;
    text-align: right;
    margin-left: calc(- var(--margin));
}

ul {
    font-size: var(--H2);
    list-style: none;
    /* Standardliste verstecken */
    margin-left: calc(var(--margin) * 1);
}

ul li {
    font-size: var(--H5);
    margin: calc(0.5 * var(--margin)) 0;
    position: relative;
    /* für die Positionierung des Pseudo-Elements */
    padding-left: calc(2 * var(--margin));
    /* Linken Abstand hinzufügen */
}

ul li::before {
    content: "○";
    font-weight: bold;
    position: absolute;
    width: calc(1.5 * var(--margin));
    text-align: right;
    left: 0;
    top: 0;
    color: var(--AccentColor);
}

input {
    width: 100%;
}

/* Für alle Browser */
input[type="range"] {
    /* Gemeinsame Stile, z. B.: */
    outline: none;
}

/* Für Mozilla (Firefox) */
input[type="range"]::-moz-focus-outer {
    border: 0;
    background-color: transparent;
}

input[type="range"]::-moz-range-thumb {
    background-color: var(--HoverColor);
    border-radius: var(--mainBorderRadius);
    cursor: pointer;
}

input[type="range"]:active::-moz-range-thumb {
    background-color: var(--AccentColor);
}

input[type="range"]:disabled::-moz-range-thumb {
    background-color: transparent;
    border-color: transparent;
}

input[type="range"]::-moz-range-track {
    background-color: var(--HoverColor);
    border-radius: calc(var(--mainBorderRadius) * 2);
    border: var(--mainBorder);
}

input[type="range"]:disabled::-moz-range-track {
    background-color: transparent;
    border-color: transparent;
}

input[type="range"]::-moz-range-progress {
    background-color: var(--AccentColor);
}

input[type="range"]:disabled::-moz-range-progress {
    background-color: transparent;
}

audio {
    width: 80%;
}

canvas {
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
}

a {
    background-color: transparent;
}

a:hover {
    color: var(--AccentColor);
    text-decoration: underline;
}

a.intern {
    color: var(--AccentColor);
    font-weight: bold;
}

html {
    padding: 0 8%;
}

header {
    display: flex;
    justify-content: space-around;
    padding: var(--padding);
}

header div {
    display: inline-flex;
    position: relative;
    height: 32px;
    font-size: var(--HeaderFS);
    font-weight: bold;
    column-gap: calc(var(--margin) * 2);
}

header .logo {
    height: 56px;
}

header .gridContainer {
    display: inline-flex;
    position: relative;
    height: 32px;
    font-size: var(--HeaderFS);
    font-weight: bold;
    column-gap: calc(var(--margin) * 2);
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Styling for dropdown container */
header .dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

header .dropdown:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 120%;
}

header .dropdown:hover {
    cursor: pointer;
}

header .dropdown .dropbtn {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: var(--FontColor);
    column-gap: calc(var(--margin) * 2);
    display: inline-flex;
    font-size: var(--HeaderFS);
    height: 32px;
    padding: 4px 12px;
    z-index: 1;
    letter-spacing: 3px;
}

header .dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0.04);
    transition: background-color 0.2s ease-out;
}

/* Hidden by Default */
header .dropdown .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid var(--BorderColor);
}

/* Show the dropdown menu on hover */
header .dropdown:hover .dropdown-content {
    display: grid;
    /* Grid-Layout */
    grid-template-columns: 1fr 1fr;
    /* Zwei Spalten */
    grid-gap: 0;
    background-color: white;
    border-radius: 4px;
    height: auto;
}

/* Links inside the dropdown */
header .dropdown .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 280px;
    color: black;
    background-color: white;
    font-weight: lighter;
    border-radius: 0;
    text-align: center;
}

/* Change color of dropdown links on hover */
header .dropdown .dropdown-content a:hover {
    background-color: var(--HoverColor);
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--BorderColor);
    text-underline-offset: 4px;
}

header .dropdown .dropdown-content a:first-child {
    /* Runden Sie die oberen Ecken ab */
    border-top-left-radius: 4px;
}

header .dropdown .dropdown-content a:nth-child(2) {
    /* Runden Sie die oberen Ecken ab */
    border-top-right-radius: 4px;
}

header .dropdown .dropdown-content a:nth-last-child(2) {
    /* Runden Sie die oberen Ecken ab */
    border-bottom-left-radius: 4px;
}

header .dropdown .dropdown-content a:last-child {
    /* Runden Sie die unteren Ecken ab */
    border-bottom-right-radius: 4px;
}

main {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.topicFrame {
    border-radius: var(--mainBorderRadius);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: inline-block;
    position: relative;
    padding: var(--padding);
    width: 100%;
    transition: all 0.5s ease;
}

.topicFrame .topic {
    border-radius: var(--mainBorderRadius);
    box-shadow: inset 0 0 0 1px var(--AccentColor);
    font-size: var(--H1);
    letter-spacing: 2px;
    padding: var(--padding);
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
}

.topicFrame .pageDescription {
    border: var(--mainBorder);
    border-radius: var(--mainBorderRadius);
    cursor: text;
    color: var(--FontColor);
    font-weight: 400;
    font-style: italic;
    margin-top: var(--margin);
    max-height: 500px;
    padding: var(--padding);
    overflow: hidden;
    text-align: justify;
}

.subtopic {
    width: calc(100% - var(--margin));
}

.subtopic>.header {
    border-radius: var(--mainBorderRadius);
    box-shadow: inset 0 0 0 1px var(--BorderColor);
    letter-spacing: 2px;
    font-size: var(--H3);
    text-transform: uppercase;
    text-align: center;
}

.subsubtopic {
    line-height: 1.5;
    margin: var(--margin);
    width: calc(100% - 2 * var(--margin));
}

.subsubtopic>.header {
    border-bottom: 2px solid var(--AccentColor);
    display: block;
    font-size: var(--H4);
    font-weight: 900;
    margin-bottom: var(--margin);
}

.outerContainer {
    margin: var(--margin) 0;
    border: 0;
    width: calc(100% - var(--margin));
    justify-content: center;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
}

.outerContainer .grid {
    margin: var(--margin);
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: calc(var(--margin));
    width: 100%;
    margin: var(--margin) 0;
}

.outerContainer .grid a {
    border: 1px solid var(--BorderColor);
    border-radius: var(--mainBorderRadius);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
    align-items: center;
    color: black;
    display: inline-block;
    justify-content: center;
    padding: var(--padding);
    transition: box-shadow 0.3s ease-in, background-color 0.3s ease-in;
    width: 100%;
}

.outerContainer .grid a:hover {
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--HoverColor);
    transition: box-shadow 0.2s ease-in, background-color 0.1s ease-in;
    cursor: pointer;
}

.outerContainer .grid a .gridContainer .Themenueberschrift {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: calc(var(--padding) * 0.2);
    word-wrap: break-word;
    font-size: var(--H5);
    font-weight: 500;
    border-radius: 4px;
}

.outerContainer .grid a .gridContainer:hover .Themenueberschrift {
    text-decoration: underline;
    text-decoration-color: var(--BorderColor);
    text-underline-offset: 2px;
    cursor: pointer;
}

.outerContainer .grid a .gridContainer .Themenbeschreibung {
    width: 100%;
    padding: calc(var(--padding) * 0.2);
    word-wrap: break-word;
    font-size: var(--H6);
    font-weight: 200;
    cursor: pointer;
}

.outerContainer .grid a .gridContainer:hover .Themenbeschreibung {
    cursor: pointer;
}

.outerContainer .grid a .Themenbeschreibung img {
    width: 20%;
    min-width: 80px;
    aspect-ratio: 1;
    border: var(--mainBorder);
    border-radius: var(--mainBorderRadius);
    float: left;
    margin-left: 0 calc(0.5 * var(--margin));
}

.outerContainer .grid a .Themenbeschreibung div {
    cursor: pointer;
    font-weight: 300;
    text-align: justify;
    hyphens: auto;
    word-break: normal;
}

.outerContainer .throwsContainer {
    width: 100%;
}

.outerContainer #canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.outerContainer div input {
    width: 100%;
}

.outerContainer .canvasContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
}

.outerContainer .canvasContainer div {
    width: 100%;
}

.outerContainer .canvasContainer div label {
    display: inline-block;
    vertical-align: middle;
}

.outerContainer .canvasContainer div select {
    background-color: var(--HoverColor);
    border: var(--mainBorder);
    border-radius: var(--mainBorderRadius);
    display: inline-block;
    margin: var(--margin) 0;
    padding: calc(var(--padding) * 0.5) var(--padding);
    vertical-align: middle;
}

.outerContainer .canvasContainer div #htDropdown {
    margin-right: calc(var(--margin) * 4);
}

.outerContainer .canvasContainer div #stDropdown {
    margin-right: var(--margin);
}

.outerContainer .canvasContainer div input {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}

.outerContainer .canvasContainer #canvasContainer {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outerContainer .canvasContainer #canvasContainer canvas {
    max-height: 60vh;
}

.outerContainer .canvasFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: var(--margin);
}

.outerContainer .sliderContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
}

.outerContainer .sliderContainer input {
    width: 100%;
    padding: var(--padding);
}

.outerContainer .sliderContainer input:hover {
    cursor: pointer;
}

.outerContainer .diagramGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: var(--margin) 0;
    width: 100%;
}

.outerContainer .zahlenContainer {
    margin: 8px 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

.outerContainer #Umgebungseinrichtung .flex {
    padding-bottom: 0;
}

.outerContainer #Umgebungseinrichtung .flex img,
.outerContainer #Umgebungseinrichtung img {
    width: calc(30% - 2 * var(--margin));
}

.outerContainer #Umgebungseinrichtung .flex .text {
    padding: 0;
    width: calc(100% - 2 * var(--margin));
}

.sliderContainer {
    position: relative;
    margin-bottom: 20px;
}

.sliderContainer #sliderValue {
    position: absolute;
    transform: translateX(-50%);
    bottom: -20px;
    /* Sie können diesen Wert ändern, um den Abstand unter dem Schieberegler anzupassen */
    color: transparent;
}

#myBarChart,
#myPieChart,
#mittelwertChart,
#varianzChart {
    display: inline-block;
    padding: 2px;
    max-height: 200px;
}

#canvasContainerFunktionen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#phi {
    color: var(--AccentColor);
    margin: var(--margin) 0;
    width: 100%;
    text-align: center;
}

/* F O O T E R */

footer div {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: var(--FooterFS);
    color: var(--BorderColor);
}

/* || SMALL */
@media screen and (max-width: 576px) {
    :root {}

    main .outerContainer .grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    header .dropdown .dropdown-content {
        min-width: 240px;
    }

    header .dropdown:hover .dropdown-content {
        display: grid;
        /* Grid-Layout */
        grid-template-columns: 1fr;
        /* Zwei Spalten */
        grid-gap: 0;
    }

    header .dropdown .dropdown-content a {
        text-align: center;
    }

    header .dropdown .dropdown-content a:first-child {
        /* Runden Sie die oberen Ecken ab */
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    header .dropdown .dropdown-content a:last-child {
        /* Runden Sie die oberen Ecken ab */
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    main .outerContainer .diagramGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    main .outerContainer .zahlenContainer {
        height: calc(12.5*var(--H5));
    }

    main .outerContainer .canvasContainer canvas {
        max-height: 200px;
    }
}

/* || MEDIUM */
@media screen and (min-width: 768px) {

    main .outerContainer .diagramGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    main .outerContainer .zahlenContainer {
        height: calc(8.5*var(--H5));
    }

    main .outerContainer .canvasContainer canvas {
        max-height: 200px;
    }
}

/* || LARGE */
@media screen and (min-width: 992px) {
    main .outerContainer .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    main .outerContainer .diagramGrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    main .outerContainer .zahlenContainer {
        height: calc(5*var(--H5));
    }

    main .outerContainer .canvasContainer canvas {
        max-height: 200px;
    }
}

/* || XL  */
@media screen and (min-width: 1200px) {
    main .outerContainer .grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    main .outerContainer .diagramGrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    main .outerContainer .zahlenContainer {
        height: calc(3*var(--H5));
    }

    main .outerContainer .canvasContainer canvas {
        max-height: 200px;
    }
}